.main-nav{
    position: fixed;
    top: 0;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    background: #efefef;
    width: 100%;
    z-index: 10;
}

.the-view{
    padding-top: 65px;
}

.the-view .heading{
    padding-top: 0;
    margin-top: 0;
}

.search-row{
    margin-bottom: 12px;
}

.persons-list .table .picture{
    min-width: 50px;
}

.persons-list .table .picture .img-responsive{
    width: 100%;
}

.persons-list .table .active-column{
    font-size: 1.9em;
}

.persons-list .table .active-column .fa-check{
    color: green;
}

.persons-list .table .active-column .fa-times{
    color: darkred;
}

.person-view .picture{
    float: right;
    margin: 12px;
}

pre{
    display: block;
    font-family: inherit;
    padding: 0;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: inherit;
    border: 0;
    border-radius: 0;
}