<h1>Add a New Person</h1>

<form ng-submit="newCtrl.submit()">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4">
        <p>
            <label>Name</label>
            <input type="text" class="form-control" ng-model="newCtrl.person.name">
        </p>
        <p>
            <label>Age</label>
            <input type="text" class="form-control" ng-model="newCtrl.person.age">
        </p>
        <p>
            <label>Eye Colour</label>
            <select class="form-control" ng-model="newCtrl.person.eyeColor">
                <option value="brown">Brown</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
            </select>
        </p>

        <p>
            <button type="submit" class="btn btn-lg btn-success"> <i class="fa fa-save"></i> Save</button>
        </p>

    </div>
</div>

</form>