<div class="persons-list">
        
    <form ng-submit="personsCtrl.search()">
        <div class="row search-row">
            <div class="col-sm-5">
                <h1 class="heading">Persons List</h1>
            </div>   
            <div class="col-sm-3">
                <select class="form-control" ng-model="personsCtrl.eyeColor">
                    <option value="">Filter By Eye Colour</option>
                    <option value="brown">Brown</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                </select>
            </div>            
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="personsCtrl.q">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-block btn-info" type="submit">Go!</button>
            </div>
        </div>
    </form>

    <div ng-if="personsCtrl.loaded">
        <div ng-if="personsCtrl.persons.length > 0">

            <table class="table table-responsive">
                <tr>
                    <th>Active ?</th>
                    <th></th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Age</th>
                    <th>Eye Colour</th>
                    <th>Contact Details</th>
                    <th></th>
                </tr>
                <tr ng-repeat="person in personsCtrl.persons">
                    <td class="active-column">
                        <i class="fa fa-check" aria-hidden="true" ng-if="person.isActive"></i>
                        <i class="fa fa-times" aria-hidden="true" ng-if="!person.isActive"></i>
                    </td>
                    <td class="picture"> <img class="img-responsive" ng-src="{{person.picture}}"> </td>
                    <td class="name">{{person.name}}</td>
                    <td>{{person.balance}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.eyeColor}}</td>
                    <td> <strong>{{person.company}}</strong> <br> {{person.email}} <br> {{person.address}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="navigation">
                            <a class="btn btn-default" ng-href="/person/?guid={{person.guid}}"><i class="fa fa-eye" aria-hidden="true"></i> View</a>

                            <a class="btn btn-default" ng-click="personsCtrl.map(person)" ng-if="person.latitude"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</a>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div ng-if="personsCtrl.persons.length < 1">
            <div class="alert alert-info">
                We could not find any persons matching your criteria. Please try again with different criteria or contact support.
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Map for {{$ctrl.person.name}}</h3>
    </div>
    <div class="modal-body" id="modal-body">

        <div ng-if="$ctrl.opened">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{$ctrl.mapSrc}}"></iframe>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
</script>
