<div class="person-view">
    <h1>Viewing : {{personCtrl.person.name}} </h1>

<p>
    <img class="picture" width="64" height="64" ng-src="{{personCtrl.person.picture}}">    
    <strong>About</strong> <br>
    {{personCtrl.person.about}}
</p>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <p>
            <strong>Gender</strong> <br>
            {{personCtrl.person.gender}}
        </p>

        <p>
            <strong>Age</strong> <br>
            {{personCtrl.person.age}}
        </p>

        <p>
            <strong>Eye Colour</strong> <br>
            {{personCtrl.person.eyeColor}}
        </p>

        <p>
            <strong>Balance</strong> <br>
            {{personCtrl.person.balance}}
        </p>

    </div>
    <div class="col-xs-12 col-sm-6">

        <p>
            <strong>Company</strong> <br>
            {{personCtrl.person.company}}
        </p>

        <p>
            <strong>Phone Number</strong> <br>
            <a href="tel:{{personCtrl.person.email}}">{{personCtrl.person.phone}}</a>
        </p>

        <p>
            <strong>Email Address</strong> <br>
            <a href="mailto:{{personCtrl.person.email}}">{{personCtrl.person.email}}</a>
        </p>

        <div>
            <strong>Address</strong>
            <pre>{{personCtrl.person.address | formatAddress}}</pre>
        </div>

    </div>
</div>