<!doctype html>
<html ng-app="mgf-app">
  <head>
    <title>mgf persons test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/ui/ui-bootstrap-custom-2.5.0-csp.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="/ui/ui-bootstrap-custom-2.5.0.min.js"></script>
    <script src="/ui/ui-bootstrap-custom-tpls-2.5.0.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDcipeS7UEKJmzCkbq_Bw7WbzEl4lfOcFk"></script>
    <script src="/js/mgf-app.js"></script>
    <base href="/">
  </head>
  <body>

    <nav class="main-nav">
        <div class="btn-group" role="group" aria-label="navigation">
            <a class="btn btn-default" ng-href="/persons"> <i class="fa fa-user"></i> Persons</a>
            <a class="btn btn-default" ng-href="/new"> <i class="fa fa-plus"></i> New</a>
            <a class="btn btn-default" ng-href="/about"> <i class="fa fa-info-circle"></i> About</a>
        </div>
    </nav>

    <div class="container">

      <div id="the-view" class="the-view" autoscroll ng-view>
        <h1>Loading...</h1>
      </div>
    </div>

  </body>
</html>